/*********************COLOR SCHEMA***********************/
:root {
    --primary-color: #348754;
    --background-color: #EAF6F6;
    --background-var-color: #EEF7FF;
}

/*********************GRADIENTE BACKGROUND EFFECT***********************/
.gradient-background {
    background: linear-gradient(300deg, var(--primary-color), var(--background-var-color), var(--background-color));
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
/*********************TAG SELECTORS***********************/
body {
    background-color: var(--background-color);
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

h4 {
    font-family: 'Montserrat', sans-serif;
}

h6 {
    text-align: right;
}

hr {
    border-style: none;
    border-bottom: 4px dotted rgb(183, 182, 182);
    margin: 3% auto 3% auto;
    width: 10%;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    line-height: 1.4;
    text-align: justify;
}

section {
    padding: 1%;
}

th, td {
    padding: 10px;
}

/********************* HEADER Section ***********************/
#contactme-link {
    display: block;
    font-family: 'Koulen', cursive;
    font-size: 1.1rem;
    color: black;

    padding: 20px;
    margin-top: 20px;
    text-align: center;
    width: 100%;
}

#contactme-link:hover {
    color: #348754;
}

#contactme-images {
    padding: 0 1rem;
    text-align: center;
}

#ifnmg-link {
    color: #2A3A35;
    /* text-decoration: none;  */
}

#ifnmg-link:hover {
    color: #348754;
}

#profile-picture {
    height: 195px;
    width: 195px;
}

.contactme-logo {
    /* background-color: #EAF6F6; */
    color: black;
    height: 30px;
    text-decoration: none;
    margin: 0 10px; 
    width: 30px;
}

.contactme-logo:hover {
    color: #348754;
}

.contactme-table {
    /* align-items: center; */
    text-align: center;
    justify-content: space-around;
    width: 100%;
}

.container-fluid {
    padding: 3%;
}

.header-short-description {
    padding-top: 20px;
    margin: auto 35px auto 35px;
}

.links {
    color: black;
}

.links:hover {
    color: #348754;
}

/********************* Contact Modal Form ***********************/
/*
*   botão em telas maiores que 750px.
*/
@media (min-width: 750px){
    .boxButtomForm{
        position: fixed;
        z-index: 5;
        bottom: 9vh;
        right: -9vw;
        transition: linear 300ms;
    }
    .formContatobtn{
        width: 13vw;
        height: 7.5vh;
        background-color: #49556C;
        border: none;
        cursor: pointer;
        border-radius: 10px 0px 0px 10px;
    }

    .boxButtomForm :hover{
        transition: linear 300ms;
        transform: translateX(-7.5vw);
    }

    #btnContatoInicio :hover ~ .boxButtomForm{
        transition: linear 300ms;
        transform: translateX(-7.5vw);
    }
    .itensBtnContat p{
        color: white;
        font-size: 1.7em;
        margin-left: 1vw;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
    }
    
    #envelopIcon{
        text-align: center;
        justify-content: center;
        margin-left: 0;
        font-size: 2em;
        color: white;
    }
}

/*
*   botão em telas menores que 750px.
*/

@media (max-width: 749px){
    .boxButtomForm{
        position: fixed;
        z-index: 5;
        bottom: 9vh;
        right: -15vw;
        transition: linear 300ms;
    }
    .formContatobtn{
        width: 22vw;
        height: 7.5vh;
        background-color: #49556C;
        border: none;
        cursor: pointer;
        border-radius: 10px 0px 0px 10px;
    }

    .boxButtomForm :hover{
        transition: linear 300ms;
        transform: translateX(-13vw);
    }

    #btnContatoInicio :hover ~ .boxButtomForm{
        transition: linear 300ms;
        transform: translateX(-13vw);
    }
    .itensBtnContat p{
        color: white;
        font-size: 2.7em;
        margin-left: 2vw;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
    }
    
    #envelopIcon{
        text-align: center;
        justify-content: center;
        margin-left: 1vw;
        font-size: 3.5em;
        color: white;
    }
}

.formButtons{
    display: flex;
    margin-top: 3vh;
    width: 270px;
    padding-left: 10px;
    margin-left: 5px;
    justify-content: space-between;
}

.itensBtnContat{
    display: flex;
    pointer-events: none; 
    margin: 0;
    padding-left: 1vw;
    font-size: 1.1vw;
    width: 12vw;
    height: 7.5vh;
    align-items: center;
}

.forms{
    position: fixed;
    z-index: 8;
    border-radius: 5px;
    background-color: #49556C;
    padding: 10px;
    width: 300px;
    height: 400px;
    bottom: 9vh;
    right: 1vw;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.212);
}

.btn-from-cancel{
    background-color: #49556C;
    /* border: 2px solid #D84557; */
    line-height: 2;
    text-decoration: none;
}

.btn-from-send{
    background-color: #62B269;
    border: 2px solid #62B269;
}

.forms:target {
    opacity: 1;
    pointer-events: auto;
}

.close {
    position: absolute;
    width: 30px;
    height: 30px;
    top: -0.5vh;
    right: inherit;
    color: #D84557;
    background: #D9D9D9;
    border-radius: 5px;
    text-align: center;
    line-height: 2;
    font-weight: bolder;
}

.sucessSend{
    position: fixed;
    z-index: 10;
    opacity: 0;
    pointer-events: none;
    width: auto;
    height: 7.5vh;
    bottom: 9vh;
    right: 10vw;
    border-radius: 5px;
    transition: 400ms ease-in;
}

.sucessSend:target {
    animation-name: sucessAnim;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-duration: 5s;
    opacity: 0;
    pointer-events: none;
}

.formTitle{
    margin-top: 2vh;
    font-size: 1.5em;
    text-align: center;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: white;
}

.formText{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: white;
}

.entries{
    width: 260px;
    margin-top: 2vh;
    margin-left: 2vh;
}

.entries input{
    width: 260px;
    height: 30px;
    margin-top: 0.3vh;
    padding-left: 1vw;
    background: #D9D9D9;
    border-radius: 4px;
    border: none;
    font-family: 'Roboto', sans-serif;
}

.entries textarea{
    width: 260px;
    height: 100px;
    margin-top: 0.3vh;
    padding-left: 1vw;
    resize: none;
    background: #D9D9D9;
    border-radius: 4px;
    padding-top: 1vh;
    font-family: 'Roboto', sans-serif;
}
.entries textarea:focus,  .entradas input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.btn-from-cancel{
    background-color: #49556C;
    border: 2px solid #D84557;
    line-height: 2;
    text-decoration: none;
}

.btn-from-send{
    background-color: #62B269;
    border: 2px solid #62B269;
}

.forms:target {
    opacity: 1;
    pointer-events: auto;
}


/********************* NAVBAR ***********************/
.navbar {
    background-color: var(--primary-color);
}

.nav-item {
    font-family: 'Koulen', cursive;
    font-size: 1.125rem;
    letter-spacing: 1.2px;
    line-height: 1;
    text-align: center;
}

/********************* SKILLS Section ***********************/

.skills-h3 {
    /* font-family: 'Montserrat', sans-serif; */
    margin-left: 40px;
}

.skill-img-right {
    float: right;
    margin-left: 30px;
    width: 14%;
}

.skill-img-left {
    float: left;
    margin-right: 30px;
    width: 14%;
}

.skill-row {
    line-height: 2;
    margin: 50px auto;
    text-align: left;
    width: 65%;
}

/********************* EDUCATION Section ***********************/

.table-education .period {
    vertical-align: top;
    width: 10%;
}

.table-education .description {
    width: 80%;
}

.table-education .end {
    width: 8%;
}

.table-education {
    border-collapse:separate;
    border-spacing:0 7px;
}

/********************* PUBLICATIONS Section ***********************/
.publication-row {
    line-height: 2;
    margin: 10px auto 2px;
    text-align: left;
}

.publication-h4 {
    line-height: 2;
    margin: 10px auto 2px;
    text-align: left;
}

/********************* PROJECTS Section ***********************/

.projects-h3 {
    margin-bottom: 25px;
}

.projects-h4 {
    text-align: center;
}

.projects-img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.projects-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.carousel-control-prev {
    filter: invert(100%);
}

.carousel-control-next {
    filter: invert(100%);
}

/********************* LANGUAGES Section ***********************/

.table-languages .language {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.language-h3 {
    margin-bottom: 20px;
}

/********************* CERTIFICATES Section ***********************/

#certificate-scrum-picture {
    height: 100%;
    max-height: 80px;
    max-width: 100px;
    width: 100%;

    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#certificate-scrum-picture:hover {
    opacity: 0.7;
}

.certificate-container {
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    padding: 0 1%;
    width: 80%;
}

.certificate-description {
    margin: 0 20px;
}

.table-certificates .period {
    padding-right: 50px;
    vertical-align: top;
    width: 10%;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
  
/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}
  
/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}
  
/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}
  
@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}
  
/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
  
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
  
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
}
