/*********************TAG SELECTORS***********************/
body {
    background-color: #EAF6F6;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

h4 {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 1.3;
    text-align: justify;
}

/*********************CLASS SELECTORS***********************/
.contactme-logo {
    background-color: #EAF6F6;
    height: 30px;
    margin-left: 20px;
    width: 30px;
}

.container-fluid {
    padding: 3%;
}

.header-short-description {
    padding-top: 20px;
    margin: auto 35px auto 35px;
}

.nav-item {
    font-family: 'Koulen', cursive;
    font-size: 1.125rem;
    letter-spacing: 1.2px;
    line-height: 1;
    text-align: center;
}

.table-education .period {
    vertical-align: top;
    width: 10%;
}

.table-education .description {
    width: 80%;
}

.table-education .end {
    width: 8%;
}

.table-education {
    border-collapse:separate;
    border-spacing:0 7px;
}

/*********************ID SELECTORS***********************/
/* #bio {
    display: inline-block;
} */

#contactme-link {
    display: block;
    font-family: 'Koulen', cursive;
    font-size: 1.1rem;
    color: black;

    padding: 20px;
    margin-top: 20px;
    text-align: center;
    width: 100%;
}

#contactme-link:hover {
    color: blue;
}

#contactme-images {
    text-align: center;
}

#profile-picture {
    height: 195px;
    width: 195px;
}