/*********************TAG SELECTORS***********************/
body {
    background-color: #EAF6F6;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

h4 {
    font-family: 'Montserrat', sans-serif;
}

h6 {
    text-align: right;
}

hr {
    border-style: none;
    border-bottom: 4px dotted rgb(183, 182, 182);
    margin: 3% auto 3% auto;
    width: 10%;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 1.4;
    text-align: justify;
}

section {
    padding: 1%;
}

th, td {
    padding: 10px;
}

/********************* HEADER Section ***********************/
#contactme-link {
    display: block;
    font-family: 'Koulen', cursive;
    font-size: 1.1rem;
    color: black;

    padding: 20px;
    margin-top: 20px;
    text-align: center;
    width: 100%;
}

#contactme-link:hover {
    color: #348754;
}

#contactme-images {
    padding: 0 1rem;
    text-align: center;
}

#ifnmg-link {
    color: #2A3A35;
    text-decoration: none; 
}

#ifnmg-link:hover {
    color: #348754;
}

#profile-picture {
    height: 195px;
    width: 195px;
}

.contactme-logo {
    background-color: #EAF6F6;
    color: black;
    height: 30px;
    text-decoration: none;
    margin: 0 10px; 
    width: 30px;
}

.contactme-logo:hover {
    color: #348754;
}

.contactme-table {
    /* align-items: center; */
    text-align: center;
    justify-content: space-around;
    width: 100%;
}

.container-fluid {
    padding: 3%;
}

.header-short-description {
    padding-top: 20px;
    margin: auto 35px auto 35px;
}

.links {
    color: black;
}

.links:hover {
    color: #348754;
}

/********************* NAVBAR ***********************/

.nav-item {
    font-family: 'Koulen', cursive;
    font-size: 1.125rem;
    letter-spacing: 1.2px;
    line-height: 1;
    text-align: center;
}

/********************* SKILLS Section ***********************/

.skill-img-right {
    float: right;
    margin-left: 30px;
    width: 14%;
}

.skill-img-left {
    float: left;
    margin-right: 30px;
    width: 14%;
}

.skill-row {
    line-height: 2;
    margin: 50px auto;
    text-align: left;
    width: 65%;
}

/********************* EDUCATION Section ***********************/

.table-education .period {
    vertical-align: top;
    width: 10%;
}

.table-education .description {
    width: 80%;
}

.table-education .end {
    width: 8%;
}

.table-education {
    border-collapse:separate;
    border-spacing:0 7px;
}

/********************* PUBLICATIONS Section ***********************/
.publication-row {
    line-height: 2;
    margin: 10px auto 2px;
    text-align: left;
}

.publication-h4 {
    line-height: 2;
    margin: 10px auto 2px;
    text-align: left;
}

/********************* CERTIFICATES Section ***********************/

#certificate-scrum-picture {
    height: 100%;
    max-height: 80px;
    max-width: 100px;
    width: 100%;

    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#certificate-scrum-picture:hover {
    opacity: 0.7;
}

.certificate-container {
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    padding: 0 1%;
    width: 80%;
}

.certificate-description {
    margin: 0 20px;
}

.table-certificates .period {
    padding-right: 50px;
    vertical-align: top;
    width: 10%;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
  
/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}
  
/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}
  
/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}
  
@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}
  
/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
  
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
  
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
}
